@page
@model Backend.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "删除";
}

<h2>删除</h2>

<h3>你确定删除该商品?</h3>
<div>
    <h4>商品</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Store)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-page="./Index">返回列表</a>
    </form>
</div>
